<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="import" href="http://localhost:3000/navigator?current=home">
    <link rel="import" href="http://localhost:3000/clock">
  </head>
  <body>
    <h1><a href='https://github.com/island205/posthtml-web-component' target="_blank">posthtml-web-component</a> demo</h1>
    <navigator></navigator>
    <p>Welcome to <%= title %></p>
    <clock></clock>
  </body>
</html>
