<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="import" href="http://localhost:3000/navigator?current=list">
  </head>
  <body>
    <navigator></navigator>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
